<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <div class="common_header">
    <div class="reverse-align">
      <button type="button" class="btn btn-create" onclick="location.href='/admin/service/faq/write'">카테고리 생성</button>
      <button type="button" class="btn btn-create" onclick="location.href='/admin/service/faq/answers/write'">질문/답변 작성</button>
    </div>
  </div>

  <div class="information_container">
    <table class="table" id="favorite_question_category_table">
      <thead>
      <tr>
        <th>번호</th>
        <th>카테고리</th>
        <th>질문 목록</th>
        <th>상세 보기</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dto : ${dtos}">
        <td class="id" th:text="${dto.id}"></td>
        <td class="category" th:text="${dto.categoryName}"></td>
        <td class="answers">
          <div class="answers_list" th:each="answer : ${dto.favoriteAnswers}">
            <a class="answers" th:text="${answer.title}"
               th:href="@{'/admin/service/faq/answers/' + ${answer.id}}"></a>
          </div>
        </td>
        <td><a class="detail" th:href="@{'/admin/service/faq/' + ${dto.id}}">상세 보기</a></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>