<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <div class="common_header">
    <h2>FAQ 답변 생성</h2>
  </div>

  <div class="col-md-7 col-lg-8 common_form">
    <form id="faq_answer_form" action="/admin/service/faq/answers/write" method="post">
      <ul class="list-group mb-3">
        <li class="list-group-item">
          <div>
            <h6>카테고리</h6>
            <select name="categoryId">
              <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}"></option>
            </select>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h6>제목</h6>
            <input type="text" class="form-control" name="title" id="title" placeholder="제목" required>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h6>내용</h6>
            <input type="text" class="form-control" name="description" id="description" placeholder="내용" required>
          </div>
        </li>
      </ul>
    </form>
    <div class="reverse-align">
      <button form="faq_answer_form" class="btn btn-create" type="submit">저장</button>
      <a class="exit" th:href="@{/admin/service/faq}">
        <button class="btn btn-cancel">취소</button>
      </a>
    </div>
  </div>
</div>

  </body>
</html>