<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <div class="common_header">
    <h2>유저 계정 생성</h2>
  </div>

  <div class="col-md-7 col-lg-8 common_form">
    <form id="create_user_form" action="/admin/users/create" method="post">
      <ul class="list-group mb-3">
        <li class="list-group-item">
          <div>
            <h6>이메일</h6>
            <input type="email" class="form-control" name="email" id="email" placeholder="이메일" required>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h6>비밀번호</h6>
            <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호" required>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <h6>닉네임</h6>
            <input type="text" class="form-control" name="nickname" id="nickname" placeholder="닉네임" required>
          </div>
        </li>
      </ul>
    </form>
    <div class="reverse-align">
      <button form="create_user_form" class="btn btn-create" type="submit">저장</button>
      <a class="exit" th:href="@{/admin/users}">
        <button class="btn btn-cancel">취소</button>
      </a>
    </div>
  </div>
</div>

</body>
</html>