<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <div class="search_navigation">
    <form id="dynamic-query-parameter-form" th:method="get" th:action="@{/admin/users}">
      <label class="users_label">
        <h6>회원 검색 조건</h6>
      </label>
      <div class="user_search_condition">
        <input type="text" class="form-control" id="email" name="email" autocomplete="off" placeholder="이메일"
               th:value="${param.email}"/>
        <input type="text" class="form-control" id="nickname" name="nickname" autocomplete="off" placeholder="닉네임"
               th:value="${param.nickname}"/>
        <input type="date" class="form-control" id="start_date" name="startDate" min="2020-01-01"
               th:value="${param.startDate}"/>
        <input type="date" class="form-control" id="target_date" name="targetDate" th:value="${param.targetDate}"/>
        <select name="deleted" id="deleted" form="dynamic-query-parameter-form" class="form-control" style="width: auto">
          <option th:value="false" th:text="활동" th:selected="${param.deleted == false}"></option>
          <option th:value="true" th:text="탈퇴" th:selected="${param.deleted == true}"></option>
        </select>
        <select name="social" id="social" form="dynamic-query-parameter-form" class="form-control" style="width: auto">
          <option th:value="false" th:selected="${param.social == false}">소셜 로그인 미연동</option>
          <option th:value="true" th:selected="${param.social == true}">소셜 로그인 연동</option>
        </select>
        <select name="provider" id="provider" form="dynamic-query-parameter-form" class="form-control" style="width: auto">
          <option th:name="null" th:value="null">인증 제공</option>
          <option th:name="'kakao'" th:value="'kakao'" th:text="카카오"
                  th:selected="${param.provider eq 'kakao'}"></option>
          <option th:name="'naver'" th:value="'naver'" th:text="네이버"
                  th:selected="${param.provider eq 'naver'}"></option>
          <option th:name="'google'" th:value="'google'" th:text="구글"
                  th:selected="${param.provider eq 'google'}"></option>
        </select>
      </div>
      <div class="reverse-align">
        <button type="submit" class="btn btn-search" role="button">검색</button>
      </div>
    </form>
  </div>

  <div class="information_container">
    <table class="table" id="users_table">
      <thead>
      <tr>
        <th>회원 번호</th>
        <th>이메일</th>
        <th>닉네임</th>
        <th>상세 정보</th>
        <th>탈퇴 여부</th>
        <th>소셜 로그인 연동</th>
        <th>생성일자</th>
        <th>수정일자</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dto : ${dtos}">
        <td class="id" th:text="${dto.uid}"></td>
        <td class="email" th:text="${dto.email}"></td>
        <td class="nickname" th:text="${dto.nickname}"></td>
        <td><a class="detail" th:href="@{'/admin/users/' + ${dto.uid}}">[상세 정보 보기]</a></td>
        <td class="deleted" th:text="${dto.deleted} == true ? '탈퇴' : '활동'"></td>
        <td class="social" th:text="${dto.social} == true ? '연동' : '미연동'"></td>
        <td class="createdAt" th:text="${#temporals.format(dto.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
        <td class="modifiedAt" th:text="${#temporals.format(dto.modifiedAt, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <nav id="pagination" aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${dtos.hasPrevious()}">
          <a class="page-link" href="#"
             th:text="previous"
             th:class="'page-link' + (${dtos.number} <= 0 ? ' disabled' : '')"
             th:href="@{/admin/users(page=${dtos.number - 1}, email=${param.email}, nickname=${param.nickname},
             startDate=${param.startDate}, targetDate=${param.targetDate}, deleted=${param.deleted}, social=${param.social}, provider=${param.provider})}">
          </a>
        </li>
        <li class="page-item" th:class="page-item" th:each="pageNumber : ${pageBarNumbers}">
          <a th:text="${pageNumber + 1}"
             th:class="'page-link' + (${pageNumber} == ${dtos.number} ? ' disabled' : '')"
             th:href="@{/admin/users(page=${pageNumber}, email=${param.email}, nickname=${param.nickname},
             startDate=${param.startDate}, targetDate=${param.targetDate}, deleted=${param.deleted}, social=${param.social}, provider=${param.provider})}">
          </a>
        </li>
        <li class="page-item" th:if="${dtos.hasNext()}">
          <a class="page-link" href="#"
             th:text="next"
             th:class="'page-link' + (${dtos.number} >= ${dtos.totalPages - 1} ? ' disabled' : '')"
             th:href="@{/admin/users(page=${dtos.number + 1}, email=${param.email}, nickname=${param.nickname},
             startDate=${param.startDate}, targetDate=${param.targetDate}, deleted=${param.deleted}, social=${param.social}, provider=${param.provider})}">
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
</div>

</body>
</html>