<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <!--추후 동적 검색 기능 추가 시 반영-->
  <div class="search_navigation">
    <form id="dynamic-query-parameter-form" th:method="get" th:action="@{/admin/users/passwordRequests}">
      <label class="users_label">
        <h6>유저 검색 조건</h6>
      </label>
      <div class="user_search_condition">
        <input type="text" class="form-control" id="email" name="email" autocomplete="off" placeholder="이메일"
               th:value="${param.email}"/>
        <input type="text" class="form-control" id="nickname" name="nickname" autocomplete="off" placeholder="닉네임"
               th:value="${param.nickname}"/>
        <input type="date" class="form-control" id="start_date" name="startDate" min="2020-01-01"
               th:value="${param.startDate}"/>
        <input type="date" class="form-control" id="target_date" name="targetDate" th:value="${param.targetDate}"/>
        <select name="complete" id="complete" form="dynamic-query-parameter-form" class="form-control" style="width: auto">
          <option th:value="false" th:selected="${param.complete == false}">미처리</option>
          <option th:value="true" th:selected="${param.complete == true}">처리</option>
        </select>
      </div>
      <div class="reverse-align">
        <button type="submit" class="btn btn-search" role="button">검색</button>
      </div>
    </form>
  </div>

  <div class="information_container">
    <table class="table" id="user_password_request_table">
      <thead>
      <tr>
        <th>번호</th>
        <th>요청 회원 번호</th>
        <th>요청 회원 이메일</th>
        <th>요청일자</th>
        <th>처리 여부</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dto : ${dtos}">
        <td class="id" th:text="${dto.id}"></td>
        <td class="uid" th:text="${dto.uid}"></td>
        <td class="email" th:text="${dto.email}"></td>
        <td class="createdAt" th:text="${#temporals.format(dto.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
        <td class="complete" th:text="${dto.complete}"></td>
        <td><a class="detail" th:href="@{'/admin/users/passwordRequests/' + ${dto.id}}">[상세 정보 보기]</a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <nav id="pagination" aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${dtos.hasPrevious()}">
          <a class="page-link" href="#"
             th:text="previous"
             th:class="'page-link' + (${dtos.number} <= 0 ? ' disabled' : '')"
             th:href="@{/admin/users/passwordRequests(page=${dtos.number - 1})}">
          </a>
        </li>
        <li class="page-item" th:class="page-item" th:each="pageNumber : ${pageBarNumbers}">
          <a th:text="${pageNumber + 1}"
             th:class="'page-link' + (${pageNumber} == ${dtos.number} ? ' disabled' : '')"
             th:href="@{/admin/users/passwordRequests(page=${pageNumber})}">
          </a>
        </li>
        <li class="page-item" th:if="${dtos.hasNext()}">
          <a class="page-link" href="#"
             th:text="next"
             th:class="'page-link' + (${dtos.number} >= ${dtos.totalPages - 1} ? ' disabled' : '')"
             th:href="@{/admin/users/passwordRequests(page=${dtos.number + 1})}">
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>

</body>
</html>