<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <div class="common_header">
    <h2>Pla&Plan Admin Page</h2>
    <span>어드민 서버 전용 페이지입니다.</span>
    <br>
    <span>어드민 권한을 가진 유저만 접근이 가능합니다.</span>
    <br>
    <span>본 서버와 페이지는 비정기적으로 업데이트됩니다.</span>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>고객센터 관리</h2>
        <span>공지사항, FAQ, Q&A를 관리하는 페이지입니다.</span>
        <br>
        <span>공지사항, FAQ를 작성할 수 있고 회원의 질문에 답변을 남길 수 있습니다.</span>
        <div class="bottom-button">
          <a href="/admin/service/announcements">
            <button class="w-100 btn btn-search" type="button">공지사항 리스트 페이지로 이동</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>회원 관리</h2>
        <span>회원 리스트 조회와 회원 생성 / 수정 / 삭제를 담당하는 페이지입니다.</span>
        <br>
        <span>회원 비밀번호 변경 기능 구현 예정입니다.</span>
        <br>
        <div class="bottom-button">
          <a href="/admin/users">
            <button class="w-100 btn btn-search" type="button">회원 리스트 페이지로 이동</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>장소 관리</h2>
        <span>장소 리스트 조회와 장소 생성 / 수정 / 삭제를 담당하는 페이지입니다.</span>
        <br>
        <span>장소 정보를 크롤링하여 업데이트할 수도 있습니다.</span>
        <br>
        <div class="bottom-button">
          <a href="/admin/places">
            <button class="w-100 btn btn-search" type="button">장소 관리 페이지로 이동</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>데이터 관리</h2>
        <span>플랜플랜 관련 데이터를 관리하는 페이지입니다.</span>
        <br>
        <span>해당 페이지는 현재 미구현 상태입니다.</span>
        <br>
        <div class="bottom-button">
          <button class="w-100 btn btn-outline-secondary" type="button">미구현</button>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>