<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

  <div class="common_header">
    <div class="reverse-align">
    <button type="button" class="btn btn-create" onclick="location.href='/admin/service/qna/categories/write'">카테고리 생성</button>
    </div>
  </div>

  <div class="information_container">
    <table class="table" id="question_category_table">
      <thead>
      <tr>
        <th>번호</th>
        <th>이름</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dto : ${dtos}">
        <td class="id" th:text="${dto.id}"></td>
        <td><a class="title" th:text="${dto.categoryName}" th:href="@{'/admin/service/qna/categories/' + ${dto.id}}"></a></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>