<included>

    <!-- 기본 설정 -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- 서비스에 사용 -->
    <appender name="SERVICE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout>
            <pattern>
                [SERVICE] ${LOG_PATTERN}
            </pattern>
        </layout>
   	</appender>

    <!-- 컨트롤러에 사용 -->
    <appender name="CONTROLLER" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout>
            <pattern>
                [CONTROLLER] ${LOG_PATTERN}
            </pattern>
        </layout>
   	</appender>

    <!-- 엔티티에 사용 -->
    <appender name="ENTITY" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout>
            <pattern>
                [ENTITY] ${LOG_PATTERN}
            </pattern>
        </layout>
   	</appender>

    <!-- DTO에 사용 -->
    <appender name="DTO" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout>
            <pattern>
                [DTO] ${LOG_PATTERN}
            </pattern>
        </layout>
   	</appender>

    <!-- 보안에 사용 -->
    <appender name="SECURITY" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <layout>
            <pattern>
                [SECURITY] ${LOG_PATTERN}
            </pattern>
        </layout>
   	</appender>


    <logger name="SERVICE_LOG" level="INFO" additivitty="false">
        <appender-ref ref="SERVICE" />
    </logger>

    <logger name="CONTROLLER_LOG" level="INFO" additivitty="false">
        <appender-ref ref="CONTROLLER" />
    </logger>

    <logger name="ENTITY_LOG" level="INFO" additivitty="false">
        <appender-ref ref="ENTITY" />
    </logger>

    <logger name="DTO_LOG" level="INFO" additivitty="false">
        <appender-ref ref="DTO" />
    </logger>

    <logger name="SECURITY_LOG" level="INFO" additivitty="false">
        <appender-ref ref="SECURITY" />
    </logger>


<!--
DEBUG < ... < INFO < WARN < ERROR
-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/> <!-- console-appender 기본 설정 -->
    </root>

</included>