<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div>
  <div class="col">
    <form id="dynamic-query-parameter-form" method="get" action="/admin/users/deleted">
      <div class="input_item">
        <input type="text" class="form-control" id="email" name="email" th:value="${param.email}"/>
      </div>
      <div class="input_item">
        <input type="text" class="form-control" id="nickname" name="nickname" th:value="${param.nickname}"/>
      </div>
      <div class="input_item">
        <input type="date" class="form-control" id="start_date" name="startDate" min="2020-01-01" th:value="${param.startDate}"/>
      </div>
      <div class="input_item">
        <input type="date" class="form-control" id="target_date" name="targetDate" th:value="${param.targetDate}"/>
      </div>
      <button type="submit" class="stats-btn btn btn-primary" role="button" id="search_button">검색</button>
    </form>
    <table class="table" id="users_table">
      <thead>
      <tr>
        <th>회원 번호</th>
        <th>이메일</th>
        <th>닉네임</th>
        <th>소셜 로그인 연동</th>
        <th>생성일자</th>
        <th>수정일자</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="dto : ${dtos}">
        <td class="id" th:text="${dto.uid}"></td>
        <td class="email" th:text="${dto.email}"></td>
        <td class="nickname" th:text="${dto.nickname}"></td>
        <td><a class="detail" th:href="@{'/admin/users/' + ${dto.uid}}">[상세 정보 보기]</a></td>
        <td class="social" th:text="${dto.social} == true ? '연동' : '미연동'"></td>
        <td class="createdAt" th:text="${#temporals.format(dto.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
        <td class="modifiedAt" th:text="${#temporals.format(dto.modifiedAt, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <nav id="pagination" aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${dtos.hasPrevious()}">
          <a class="page-link" href="#"
             th:text="previous"
             th:class="'page-link' + (${dtos.number} <= 0 ? ' disabled' : '')"
             th:href="@{/admin/users/delete(page=${dtos.number - 1})}">
          </a>
        </li>
        <li class="page-item" th:class="page-item" th:each="pageNumber : ${pageBarNumbers}">
          <a th:text="${pageNumber + 1}"
             th:class="'page-link' + (${pageNumber} == ${dtos.number} ? ' disabled' : '')"
             th:href="@{/admin/users/delete(page=${pageNumber})}">
          </a>
        </li>
        <li class="page-item" th:if="${dtos.hasNext()}">
          <a class="page-link" href="#"
             th:text="next"
             th:class="'page-link' + (${dtos.number} >= ${dtos.totalPages - 1} ? ' disabled' : '')"
             th:href="@{/admin/users/delete(page=${dtos.number + 1})}">
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>

</body>
</html>