@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 전역 설정 */

html, body {
    height: 100%;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.form-control {
    margin-left: 5px;
    margin-right: 5px;
}

.table {
    vertical-align: middle;
}

article > pre {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 헤더, 푸터 */

header {
    flex:1 1 100%
}

#wrapper {
    min-height: 93%;
    position: relative;
    padding-bottom: 130px;
    overflow: auto;
}

footer.border-top {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    position: relative;
    transform: translateY(-100%);
}

/* 내비게이션 관련 */

/*
#main_nav {
    width: 100%;
    height: 55px;
    position: absolute;
}

.fix {
    position: fixed;
    animation: down 0.5s ease;
}

@keyframes down {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}
 */

/* 컨테이너 관련 */
div.information_container {
    min-width: 450px;
    max-width: 1280px;
}

div.common_header {
    min-width: 450px;
    max-width: 1280px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* 역정렬 관련 */
div.reverse-align {
    flex-direction: row-reverse;
    display: flex !important;
}

div.reverse-align > button {
    margin-right: 10px;
}

div.reverse-align > a {
    margin-right: 10px;
}


/* 검색 폼 관련 */

div.search_navigation {
    min-width: 450px;
    max-width: 1280px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.address_search_condition {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between !important;
    display: flex !important;
}

div.place_search_condition {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between !important;
    display: flex !important;
}

div.datetime_search_condition {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between !important;
    display: flex !important;
}

div.user_search_condition {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between !important;
    display: flex !important;
}

.crawling_form {
    margin-right: 10px;
}

/* 테이블 관련 */

#places_table > thead {
    font-size: 13px;
}

#places_table > tbody {
    font-size: 11px;
}

#places_null_table > thead {
    font-size: 13px;
}

#places_null_table > tbody {
    font-size: 11px;
}

#places_not_exist_table > thead {
    font-size: 13px;
}

#places_not_exist_table > tbody {
    font-size: 11px;
}

#users_table > thead {
    font-size: 15px;
}

#users_table > tbody {
    font-size: 13px;
}

#deleted_users_table > thead {
    font-size: 15px;
}

#deleted_users_table > tbody {
    font-size: 13px;
}


/* 입력 폼 관련 */

.common_form {
    min-width: 450px;
    max-width: 1280px;
    margin-top: 20px;
}

ul.list-group {
    margin-bottom: 20px;
}

li.list-group-item > div > p {
    margin-bottom: 0px;
}

/* 버튼 관련 */

.btn-search {
    background-color: rgb(31, 59, 121);
    color: aliceblue;
}

.btn-search:hover {
    background-color: rgb(156, 186, 250);
    color: aliceblue;
}

.btn-create {
    background-color: rgb(31, 59, 121);
    color: aliceblue;
}

.btn-create:hover {
    background-color: rgb(156, 186, 250);
    color: aliceblue;
}

.btn-update {
    background-color: rgb(36, 23, 82);
    color: aliceblue;
}

.btn-update:hover {
    background-color: rgb(83, 64, 153);
    color: aliceblue;
}

.btn-delete {
    background-color: rgb(90, 8, 72);
    color: aliceblue;
}

.btn-delete:hover {
    background-color: rgb(175, 16, 141);
    color: aliceblue;
}

.btn-cancel {
    background-color: rgb(6, 82, 108);
    color: aliceblue;
}

.btn-cancel:hover {
    background-color: rgb(77, 202, 252);
    color: aliceblue;
}

.back_list_button {
    margin-top: 10px;
}


/* 페이징 관련 */

.btn-page {
    background-color: rgb(31, 59, 121);
    font-size: smaller;
    color: aliceblue;
}

.btn-page:hover {
    background-color: rgb(156, 186, 250);
    font-size: smaller;
    color: aliceblue;
}